body {
    background-color: #06D6A0;
    font-family:Arial, Helvetica, sans-serif;
}
.pizzas {
    display: flex;
}
.pizza {
/*box-model */
border: 3px solid silver;
padding: 2em;
margin: 1em;
margin-bottom: 0.5em;
border-radius: 3em;
width: 20em;
display: block;
}
.medium_pizza {
    background-color: #EF476F;
flex: 2;

}

.large_pizza {
    background-color: #EF476F;
flex: 2;

}

.small_pizza {
    background-color: #EF476F;
    flex: 2;
}

.Contact_us {
    background-color: #3f3f3e;
    flex: 9;
    width: 80em;

}
@media(min-width: 760px) {

    body{
        background-color:cornflowerblue;
    }
}
.header 
@media(min-width: 960px) {

    body{
        background-color: #FFD122;
    }
}

